<% title 'Show search results for challenge' %>

<p>Enter the challenge tag below.</p>

<% form_for(@challenge) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag%>
  </p>
  <p>
    <%= f.submit 'Search' %>
  </p>
<% end %>
